[package]
name = "bench-common"
version.workspace = true
authors.workspace = true
edition.workspace = true

[dependencies]
serde.workspace = true
serde_json.workspace = true
strum.workspace = true

[lints]
workspace = true
